@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
        display: inline-block;
        margin: auto;
        width: 100%;
    }

    .button {
        margin: auto;
        width: 100%;
    }

    .Login form {
        margin: auto;
        max-width: 320px;
    }
}